@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header__top */
.header {
  max-width: 1440px;
  height: 729px;
  background-image: url(../img/hero-3-cover.png);
  background-repeat: no-repeat;
  margin: auto;
  opacity: 0.8;
  padding: 0 195px 0 195px;
}

.header__top {
  width: 1050px;
  height: 92px;
  margin: 19px auto;
  margin-bottom: 35px;
}

.header__logo {
  transition: 1s;
}

.header__logo-text {
  color: var(--text-color, #252B42);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  transition: 1s;
}

.header__logo-text:hover {
  transform: scale(1.2);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 21px;
}

.header__top-btn {
  display: flex;
  padding: 15px 25px;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  background: var(--primary-color, #23A6F0);
  color: var(--light-text-color, #FFF);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.header__top-btn:hover {
  color: var(--primary-color, #737373);
}

.header__btn-login {
  width: 300px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__login {
  color: var(--primary-color, #23A6F0);
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.header__login:hover {
  color: var(--primary-color, #737373);
}

.nav,
a {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* header__main */
.header__main {
  max-width: 1440px;
  margin: 13px auto;
}

.header__main-online {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 599px;
  height: 401px;
  gap: 35px;
}

.header__main-text,
h5 {
  color: var(--primary-color, #23A6F0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.header__main-title,
h2 {
  color: var(--text-color, #252B42);
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.header__main-poragraph,
p {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.header__main-btn {
  max-width: 305px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn__first {
  display: flex;
  padding: 15px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #23A6F0;
  color: var(--light-text-color, #FFF);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.btn__first:hover {
  color: var(--second-text-color, #737373);
}

.btn__second:hover {
  color: var(--second-text-color, #737373);
}

.btn__second {
  display: flex;
  padding: 14px 40px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--primary-color, #23A6F0);
  color: var(--primary-color, #23A6F0);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 1225px) {
  .container {
    width: 1000px;
  }
  .header__top {
    width: 715px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    margin: auto;
  }
}
.main {
  max-width: 1440px;
  margin: auto;
}

.main__wrapper {
  width: 1140px;
  margin: 112px auto;
}

.main__wrapper-top {
  padding-bottom: 112px;
  width: 716px;
}
.main__wrapper-top h6 {
  color: var(--primary-text-color, #23A6F0);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main__wrapper-top h3 {
  color: var(--text-color, #252B42);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}
.main__wrapper-top p {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.main__wrapper-bottom {
  width: 1049px;
  height: 327px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.block1 {
  padding: 35px 40px;
  background: var(--light-background-color, #FFF);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.block1__img {
  width: 70px;
  height: 76px;
  border-radius: 10px;
  background: var(--faded-primary-color, #B2E3FF);
  animation: render 3s ease-in-out infinite;
}

@keyframes render {
  0% {
    background: var(--faded-primary-color, #B2E3FF);
  }
  50% {
    color: var(--text-color, #252B42);
  }
  100% {
    background: var(--faded-primary-color, #B2E3FF);
  }
}
.block1__text, p {
  color: var(--text-color, #252B42);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.block1__paragraph {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.text {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.block1 {
  transition: 1s;
}

.block1:hover {
  transform: scale(1.2);
}

.block3 {
  background: var(--light-background-color, #FFF);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.block3:hover {
  background: var(--secondary-color-1, #00A0C1);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.block1:hover {
  background: var(--secondary-color-1, #00A0C1);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.main__second {
  max-width: 1440px;
  margin: auto;
}

.main__wrapper-second {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 140px;
  padding: 160px;
}

.main__second-img {
  width: 425px;
  height: 506px;
  border-radius: 50px;
}

.main__second-text {
  padding-top: 103px;
}

.nain__second-line {
  background: var(--danger-color, #E74040);
  width: 94px;
  height: 7px;
}

.main__second-title, h3 {
  color: var(--text-color, #252B42);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main__second-paragraph, p {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding-bottom: 20px;
}

.main__second-button, a {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.main__second-button, a:hover {
  color: var(--second-text-color, #23A6F0);
}

.main__second-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scale {
  transition: 1s;
}

.scale:hover {
  transform: scale(1.2);
}

.scale__big:hover {
  transform: scale(1.8);
}

.main__third {
  max-width: 1440px;
  margin: auto;
}

.main__wrapper-third {
  margin: auto;
  padding: 0px 195px 160px 195px;
}

.wrapper__third-block {
  width: 1044px;
  height: 96px;
  margin-bottom: 121px;
  display: flex;
  flex-direction: column;
}

.wrapper__third-text, .advice {
  color: var(--primary-text-color, #23A6F0);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.wrapper__third-title, .teatcher {
  color: var(--text-color, #252B42);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}

.wrapper__third-paragraph, .try {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.wrapper__third-button {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  margin: auto;
}

.wrapper__third-blocks {
  width: 508px;
  padding: 30px;
}

.third__img, .photo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: auto;
}

.third__paragraph {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.third__stars {
  width: 128px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

.third__title {
  color: var(--text-color, #252B42);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.third__text {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.main__join {
  max-width: 1440px;
  margin: auto;
}

.main__join-wrapper {
  width: 1050px;
  margin: 96px auto;
  padding: 0 195px 0 195px;
}

.join__wrapper-block {
  gap: 10px;
  margin-bottom: 80px;
}

.join__text-text {
  color: var(--primary-text-color, #23A6F0);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.join__title-title {
  color: var(--text-color, #252B42);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}

.join__paragraph-paragraph {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.join__wrapper-input {
  max-width: 1440px;
  margin: auto;
}

.join__wrapper-blocks {
  width: 688px;
  display: flex;
  justify-content: center;
}

.join__input-email {
  display: flex;
  padding: 15px 591px 15px 20px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  background: #F9F9F9;
}

.join__wrapper-button {
  display: flex;
  width: 117px;
  height: 58px;
  padding: 15px 22.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #E6E6E6;
  background: var(--primary-color, #23A6F0);
  color: var(--light-text-color, #FFF);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.join__wrapper-button:hover {
  color: var(--text-color, #fff);
  background-color: #252B42;
}

.join__input-email:focus {
  box-shadow: 0 0 10px #23a6f0;
  outline: 0;
  outline-offset: 0;
}

.footer {
  max-width: 1440px;
  margin: 220px auto;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__wrapper-block h3 {
  color: var(--text-color, #252B42);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.footer__wrapper-block p {
  color: var(--second-text-color, #737373);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 10px 0;
}

.footer__footer {
  max-width: 1440px;
  height: 76px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--light-gray-1, #FAFAFA);
}

.footer__wrapper-footer {
  width: 1050px;
  margin: auto;
}

.footer-text {
  text-align: center;
}

.block {
  padding-bottom: 25px;
}

.center {
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

marquee {
  color: #737373;
}

.toptitle {
  display: flex;
}

.container {
  max-width: 1440px;
  margin: auto;
}/*# sourceMappingURL=main.css.map */