@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$title-color:#252B42;
$main-color:#737373;
$second-color:#23A6F0;
$white-color:#fff;
$font-main:'Montserrat'sans-serif;